// stylelint-disable no-descending-specificity
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--paragraph-font-family);
  display: flex;
  flex-flow: column;
}

nav {
    order: -1;
    display: flex;

  }

main {
  margin: 10px;
  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-primary);
  }
}

.container {
  h2 {
    text-align: left;
  }
  display: flex;
  flex-direction: column;
}

