.profile {
  position: relative;
  top: 90px;
  max-width: 500px;
  margin: 25px 10px;
  padding: 25px 20px 50px 20px;
  border: 2px solid var(--color-primary);
  left: 100px;

  h4 {
    font-weight: bold;
  }

  .container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li span:first-of-type {
      font-weight: bold;
    }
  }
}
